body {
    background-color: #FFFFFF;
}



.rightUpper, .rightLower {
    width: 45%;
    float: left;
    border: 2px solid red;
    padding: 15px;
    height: 300px;
    box-shadow: -10px -7px #AA7777;
    border-radius: 7px;
    margin:  auto;
    overflow: scroll;
}

h1 {
    text-align: center;
    color: #0c1017;
    background-color: #e24343;
    text-shadow: 1px 1px 0px  #79799A;
    padding: 20px;
    width: 90%;
}

.leftUpper, .leftLower {
    width: 45%;
    float: left;
    border: 2px solid red;
    padding: 15px;
    height: 300px;
    box-shadow: -10px -7px #AA7777;
    border-radius: 7px;
    margin: auto;
    overflow: scroll;
}

.parent {
    width: 90%;
    overflow: auto;
    padding: 10px;
    margin: 20px;

}
#questions {
    border: 2px dashed red;
    padding: 20px;
    margin: auto;
    width: 600px;
}

#movies {
   border: 2px solid red;
   border-radius: 100px;
   padding: 50px;
   width: 300px;
   margin: auto;
}

#movies h3 {
    text-align: center;
    font-style: italic;
}
#top_ten_movies {
    font-style: italic;
    font-size: 14pt;
}

#vaTech, #washU {
    float: left;
}
